:host {
    width: 100%;
    height: 100%;

    div.tt-detail-root {
        display: flex;
        flex-direction: column;

        mat-toolbar {
            a.back {
                padding: 0 16px 0 0;
                min-width: auto;
            }
        }

        div.content {
            display: flex;
            flex: 1;

            padding: 10px;
            overflow-x: hidden;
            overflow-y: auto;

            mat-card {
                width: 100%;
            }
        }
    }
}
